@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;900&family=Inter:wght@200;300;400&family=Josefin+Sans:wght@300;400&family=Kumbh+Sans&family=Montserrat&family=Nunito:wght@400;500;600;700&family=Poltawski+Nowy:wght@500&family=Roboto+Flex:opsz,wght@8..144,400;8..144,500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
}

.heroSection {
  display: flex;
  gap: 14px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.heroSection::-webkit-scrollbar {
  display: none;
}

.values-slider .owl-item.active.center .item {
  filter: blur(0);
  transform: scale(1);
  transition: all 0.5s;
}

.owl-item.active.center .slider {
  transform: scale(0.9);
}
.slider {
  transform: scale(0.6);
}

.owl-nav .owl-next{
  position: absolute;
  top: 50%;
  left: 2;
  height: auto;
  transform: translate(0,-50%);
}
.owl-nav .owl-prev{
  position: absolute;
  top: 50%;
  left: 0;
  height: auto;
  transform: translate(0, -50%);
}

.owl-nav .owl-next  {
  left: auto;
  right: 0px;
}
.owl-nav .owl-prev {
  right: auto;
  left: 0px;
}